body{ font-family:Arial, Helvetica, sans-serif; line-height:20px; margin:0px; padding:0px;}
h1{ margin:0px; padding:0px;}
.welcomesectionWrapper1 {
    width: 560px;
    float: left;
    padding: 0px;
    margin: 0px 5px 0px 0px;
	border:1px solid #CCC;
	
}
.welcomesectionWrapper11 {
    width: 560px;
   
    float: left;
    padding: 0px;
    margin: 0px 5px 0px 0px;
	
	
}
.addadd{     
	width: 560px;
    float: left;
    padding: 0px;
    margin: 0px 5px 0px 0px;
	padding-bottom:10px;
	border-bottom:1px solid #CCC;
}
.addadd:hover{ background-color:#ecf7ff;}
.addimg{ float:left; width:100px; height:93px; margin-left:5px;}
.text_addimg{float:left; width:350px;  font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#09F; text-decoration:none; margin-left:10px; }
.text_addimg h1{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#09F; text-decoration:none;}
.text_addimg h1:hover{ color:#09F; text-decoration:underline;}
.text_addimg h1 a{  font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#09F; text-decoration:none;}
.text_addimg p { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#999; line-height:20px; }
.snb_date {
	font-size:12px;
    font-weight: normal;
    font-style: italic;
    line-height: 25px;
    color: #6A6A6A;
	float:right;
	margin-right:10px;
}
h3{float: left;  font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#09F;  margin-left: 10px; text-decoration:none;}
h4{float: right;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#09F; text-decoration:none;}
.dat{  font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000;margin-right: 10px; text-decoration:none;}
.fieldNameWrapper21 {
    width: 480px;
    float: left;
    padding: 0px;
    margin: 5px 0px 0px 20px;
}
.labelName21 {
    width: 170px;
    float: left;
    padding: 0px;
    margin-right: 10px;
    font: bold 13px/20px Arial,Helvetica;
    color: #800000;
    text-align: right;
}
.viewhead{
    width: 100%;
    height: 35px;
    background-color: #CCCCCC;
    
}
.viewhead h2{line-height: 35px; color: #000;font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000; text-decoration:none; text-align:center;}

.registrationTextField21 {
    width: 240px;
    margin: 0px 5px 0px 0px;
    height: 20px;
   
    font: 13px/20px Arial,Helvetica,sans-serif;
    color: #666;
    float: left;
}